body {
	background-image:url("../pics/whitey.png");
	background-repeat:repeat;
	padding-top: 60px;  /* for top navbar*/

	/*margin-top: 40px;*/
	margin-bottom: 60px;

  /*margin-left: auto;
  margin-right: auto;
  width: 700px;*/
} 

hr {
    height:1px;
    background:#bbb;
    border-color: #bbb;
   }
   
h2 {
	color: #444;
}

p.app-title {
	font-size: 1.5em;	
}


div.con-image {
	background-color: transparent;	
	padding: 0px;
	 box-shadow: 10px 10px 5px #888888;
	 
	   -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
     margin-top: 50px;
}


div.con-image:hover {
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}


div.con-appinfo {
	background-color: transparent;	
	float:left;
	margin-top: 50px;
}

.mynav{
	box-shadow: 5px 5px 5px #999;
}

/* ----------------------------------------------------------------------------- 
                               CUSTOMIZE KNITR OUTPUT
  ----------------------------------------------------------------------------- */ 

.knitr {
  font-size: 80%;
}

/* ----------------------------------------------------------------------------- 
                                   LEFT SIDEBAR
  ----------------------------------------------------------------------------- */ 
  
.sidebar-nav-fixed {
     position: fixed;
     top: 60px;
     width: 20%;
}


/* ----------------------------------------------------------------------------- 
                                   COLLAPSIBLE INFO BOX
  ----------------------------------------------------------------------------- */ 
  
.alignleft {
  font-size: 200%;
  float: left;
}
.alignright {
  float: right;
}
.mycoll {               /* collapsible display box for info text */
  background-color: #eee; 
  padding: 20px; 
  display:none;
}
.literature_items {
  list-style-type: none;
  text-indent: -1em;
  padding-left: 1em;
  margin: 0px;
}
.info_header {
  color: blue;
  font-size: 140%;
  padding-top: 10px;
}
.info_li {
  margin-bottom: 5px;
}

.rimage {
  text-align: center
}

}


 
 